
*{
   
    padding: 0;
    margin: 0;
}
.header{
    animation-name: animacion ;
    animation:animacion 4s;
}

header{
    background-color: #4b5964;
    display: flex;
    justify-content:space-around;
    height: 100px;
    align-items: center;
    animation-name:carlitos;
   animation:carlitos 2s;


}





@keyframes carlitos {
    from{
        opacity: 0;
        
        
    }
    to{
        opacity: 1;
      
    }
}

ul{
    display: flex;
    gap: 20px;
  
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#d3cfcf;
}
.home{
    border: 1px transparent;
    background-color: rgb(70, 67, 67);
    padding: 4px 17px;
    border-radius: 23px;
   
}
.header{
    background-color: #4b5964;
    display: flex;
    justify-content: space-evenly;
}
.p-1{
    color: #d6d8dd;
}
.p-2{
    color: #948f8f;;
}
.titulo-1{
    color: white;
}
.subcontainer{
    display: flex;
    gap: 30px;
    align-items: center;
}
.shape{
    color: white;
    border-bottom: 1px solid  #d6d8dd;
}
.p-3{
    color: #948f8f;
}
.a-1{
    background-color: #419bd4;
    padding: 14px 50px;
    color: aliceblue;
    border-radius: 22px;
    animation-name: a;
    animation: a 4s;
   
}
@keyframes a {
    from{
        opacity: 0;
      top: 40%;
       
    }
    20%{
        transform:rotate(360deg);

    }
    to{
        opacity: 1;
        top: 40%;
        position: absolute;
    }
}
.logos{
    display: flex;
    justify-content: space-around;
    background-color: #f5f3f3;
    text-align: center;
}
.padre{
    margin-top: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
   
   
                       
    text-align: center;
    
}
.a-2{
    color:white;
   border: 2px double  ;
    background-color: #419bd4;
    padding: 9px 20px;
    font-size: 19px;
    border-radius: 6px;
}
.gran-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    
}
.di{
    display: flex;
   align-items: center;
   gap:5px;
  margin-left: 5%;
  margin-top: 7%;
}

.gran-3{
    margin-top: 7%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 2px;
    grid-template-areas: "from from our our"
                         "from from our our"
                         "from from our our"
                         "footer footer footer footer"
                        ;
}

.gran-3 .from{
 
   grid-column: from;
   grid-row: from;
   padding: 0 0 0 100px;
  display: flex;
  
    
}
.f{
    display: flex;
    gap: 7px;
    align-items: center;
   
}


.work{
  
   width: 80%;
   margin-top: 5%;
   margin-left: 50px;
}

.hp{
    
    margin-bottom: 7px;
}

.work p{
    margin-bottom:  7px;
}
.H{
    margin-bottom:7px ;

}

.gran-3 .our{
   grid-column:our;
   grid-row: our;
   
}
.twitter{
    display: flex;
    gap: 3px;
}
.dos p{
    margin-bottom: 7px;
}
.tres{
    padding: 0 0 0 95px;
    margin-top: 20px;
    
}
.gran-3 .footer{
    grid-column: footer;
    display: flex;
    justify-content: space-between;

}
.htres{
    margin-right: 375px;
}

.foo{
    margin-top: 7%;
    border-bottom: 1px solid #d6d8dd ;

}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.copy{
    padding: 0 0 0 40px;
}
.lo{
    margin: 0 100px 0 0;
}

span{
    color: #1d94dd;
}
small{
    color: #948f8f;
}
@media (max-width:360px) {
   
    header{
    background-color: #4b5964;
      display: flex;
      flex-direction: column;
    align-items: center;
    width: 100%;
        
    }

    ul{
        display: flex;
        gap: 7px;
        
      
    }
    .header{
        background-color: #4b5964;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
       
    }
    .telefono{
        width: 200px;
        margin-top: 4%;
    }

    .a-1{
        background-color: #419bd4;
        padding: 14px 10px;
        color: aliceblue;
        border-radius: 22px;
        margin-left: 20px;
    }
    .subcontainer{
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 26px;
      
    }


    .logos{
        display: flex;
        justify-content: space-around;
        background-color: #f5f3f3;
        text-align: center;
        align-items: center;
        
    }
    .imlogos{
        width: 30px

    }
    .im{
        width: 50px;
    }
    .gran{
        font-size: 10px;
    }
    div .a-2{
        font-size: 10px;
    }
    .di{
        margin-left: 50px;
    }
    .imagnesDelmedio{
       width: 100%;
      
      
        

    }
    .gran-2{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
       
    }
    .gran-3 .from{
        
        padding: 0  0 11px;
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }
    .imgfrom{
      width: 10px;
    }
    .f{
     margin: 0px 0px;
     font-size: 12px;
    }
    .imgFinal{
        width: 110px;
    }
    
    .twitte{
        width: 15px;
        height: 15px;

    }
    .twitter{
        font-size: 12px;
        margin-bottom: 30px;
    }
      .work{
        width: 50%;
        margin-top: 5%;
        margin-left: 7px;
    
    }

    .footer{
        display: flex;
        font-size: 10px;
        gap: 20px;
        flex-direction:row;
    }

    .htres {
        margin-right: 49px;
    }
    .imfoo{
        width: 25px;
    }
    footer{
        font-size: 15px;
        gap: 60px;
    }


}   
   
    
